{% extends '::base.html.twig' %}
{% block body %}
<h1>Elige Bando</h1>
<br>
<a href="bando/1" class="uk-button-primary uk-button">Imperio Galáctico</a>

<a href="bando/2" class="uk-button-danger uk-button">Rebelión</a>
{% endblock %}
